<h1 id="tableLabel">Contactos</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-7">
        <div class="form-group">
          <input type="text" class="form-control" name="buscar" [(ngModel)]="buscar" placeholder="Buscar contacto" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <button class="btn btn-success" (click)="addContacto()">Nuevo contacto</button>
        </div>
      </div>
      <!--<div class="col-md-3">
        <div class="form-group">
          <button class="btn btn-warning" (click)="addrow()">Importar contactos</button>
        </div>
      </div>-->
    </div>

   
  </div>
  <div class="panel-body">


    <div class="alert alert-primary" role="alert" *ngIf="!contactos.length">
      <h4 class="alert-heading">Por el momento no hay ningún contacto registrado.</h4>

      <hr>
      <p class="mb-0">¿Desea agregar uno ahora mismo?.</p>
      <p></p>
      <p class="mb-0">También pruebe agregando muchos contactos en volumen utilizando la opción Importar.</p>
    </div>

    <p *ngIf="!contactos"><em>Loading...</em></p>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="contactos.length">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th>CURP</th>
          <th>Fecha Registro</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contacto of contactos | contactoFilter : buscar ">
          <td>{{ contacto.id }}</td>
          <td>{{ contacto.nombre }}</td>
          <td>{{ contacto.direccion }}</td>
          <td>{{ contacto.telefono }}</td>
          <td>{{ contacto.curp }}</td>
          <td>{{ contacto.fechaRegistro | date: 'dd/MM/yyyy' }}</td>
          <td>
            <button class="btn btn-primary" (click)="edit(contacto)">
              <i></i> Editar
            </button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="remove(contacto)">
              <i></i> Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
